<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    {% include 'adminnav.html' %}
    
    <img src="/static/20_school-websites-designs-1024x683.jpg" class="img">
    <div class="content"></div>
        <h1>The No.1 Human Anatomy Learning Resource: Trusted by Over 12 Million Students and Professionals</h1>
        <p>Understanding human anatomy is crucial for success in both education and healthcare. That’s why over 12 million students, educators, and professionals turn to TeachMeAnatomy for in-depth guides, high-quality visuals, interactive tools & study tips to help you understand the most complex anatomical concepts.</p>
        <p>Explore our extensive library of guides, diagrams, and interactive tools, and see why millions rely on us to support their journey in anatomy.</p>
        <p>Join a global community of learners and professionals who trust us to help them excel in anatomy.</p>
    </div>
  
    

    
</body>
</html>
