<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details Updating</title>
    <link rel="stylesheet" href="/static/stu.css">
</head>
<body style="background-color: black;">
    {% include 'studentnav.html' %}
    <div class="div">
        
            <h1 style="margin-top: 100px;">Updating</h1>
            <form action="{% url 'final' %}" method="post">
                {% csrf_token %}
                <input class="input" type="text" value="{{g.RollNumber}}" placeholder="RollNumber" name="rollnum"><br><br>
                <input class="input" type="text" value="{{g.FirstName}}" placeholder="FirstName" name="fname"><br><br>
                <input class="input" type="text" value="{{g.LastName}}" placeholder="LastName" name="lname"><br><br>
                <input class="input" type="tel" value="{{g.PhoneNumber}}" placeholder="PhoneNumber" name="phone"><br><br>
                <select class="input" value="{{g.Course}}" name="course">
                    <option >--------------------------Course--------------------------</option>
                    <option >B.Tech</option>
                    <option >MBA</option>
                    <option >MCA</option>
                    <option>M.Tech</option>
                </Select><br><br>
                <select value="{{g.Year}}" class="input" name="year">
                    <option >-----------------------------Year-----------------------------</option>
                    <option >1</option>
                    <option  >2</option>
                    <option >3</option>
                    <option >4</option>
                </Select><br><br>
        
               <span> Gender:
                Male<input type="radio" name="gender" value="Male">
                Female<input type="radio"name="gender" value="Female"></span><br><br>
                <input class="input" type="text" value="{{g.City}}" placeholder="City" name="city"><br><br>
                <select class="input" value="{{g.State}}" name="state">
                    <option>----------------------------State----------------------------</option>
                    <option>Andhra Pradesh</option>
                    <option>Karnataka</option>
                    <option>TamilaNadu</option>
                    <option>Kerala</option>
                    <option>Maharastra</option>
                    <option>Telangana</option>
                    <option>Goa</option>
                    <option>Madya Pradesh</option>
                    <option>Gujarath</option>
                    <option>Odisha</option>
                    <option>Jharkand</option>
                    <option>Meghalaya</option>
                    <option>Rajastan</option>
                    <option>Panjab</option>
                    <option>Haryana</option>
                    <option>Westbengal</option>
                    <option>HimachalPradesh</option>
                    <option>Jammu & Kashmir</option>
                    <option>Uttarakhand</option>
                    <option>UttaraPradesh</option>
                    <option>Bhihar</option>
                    <option>Sikkim</option>
                    <option>Arunachal Pradesh</option>
                    <option>Chattisgad</option>
                    <option>Nagaland</option>
                    <option>Mijarom</option>
                    <option>TamilaNadu</option>
                    <option>Kerala</option>
                    <option>Assam</option>
                    <option>Manipal</option>
                    <option>Tripura</option>
                    <option>Kerala</option>
                    


                </Select><br><br>
                <input class="button" type="submit" value="Upload">
